div.post.reply {
    background: #E5DC9B ;
    border: 2px solid #CCC17F;
    padding-right: 0.5em;
}
div.post.reply {
    background: #FFF;
    margin: 0.2em 4px;
    padding: 0.2em 0.3em 0.5em 0.6em;
    border-width: 1px;
    border-style: none solid solid none;
    border-color: #B7C5D9;
    max-width: 94%!important;
    clear: left;
    float: left;
    display: block;
}
div.post {
    padding-left: 20px;
}
.container {
    text-align: center;
    min-width: calc(100% - 4px) !important;
    padding: 0 !important;
    margin: 2px auto 0 auto;
}
p.fileinfo, .post {
    padding: 0 0 4px;
}

div {
    display: block;
}
body {
    background: #AAC3EC url(img/ukrchan_body.png);
    color: #000;
    font: 15px Roboto,Trebuchet MS,Trebuchet,Arial,Verdana,sans-serif;
    margin: 0;
    padding-left: 12px;
    padding-right: 12px;
}
body {
    background: rgb(223,237,176) url(kropyvaba_post.png);
    color: black;
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    line-height: 1.4em;
    margin: 0 4px;
    padding-left: 4px;
    padding-right: 4px;
}

