# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Робочій стіл\Диплом_проект\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
